[2017-07-04 07:27] v0d1ch opened #5 "Installation guide"
It would be helpful to describe installation process

[2017-07-04 09:59] gallais commented on #5
Yeah, a cabal file would be welcome especially now that there are external dependencies (Brick).

[2017-07-04 14:25] CharlesHD commented on #5
Indeed a cabal file would be great. I personnaly like using [stack](https://docs.haskellstack.org/en/stable/README/) for ease of use.

[2017-07-04 16:06] JackKiefer commented on #5
Yes! Let's get stack working :)

[2017-07-04 17:03] JackKiefer commented on #5
Update! Everyone!
There is now a cabal file and a stack.yaml. Wow! Cool stuff!
Though, I have no idea what I'm doing. You can use them for things?
This is fun.

[2017-07-08 23:38] JackKiefer opened #8 "Import recipe file"
Add an option to import a `recipes.herms` file to the current installation's recipe book. It ought to look something like this:
`herms import {filename}`
This would more or less involve reading the given file and appending its contents to the herms installation's recipe book.

Some tips:
- See the `getRecipeBook` function in `herms.hs` to see how the file is read in
- Note how functions such as `r

[2017-07-08 23:59] JackKiefer opened #9 "Generate a shopping list given several recipes"
Given several recipes and a serving size, generate an alphabetized list of ingredients that are required for those recipes. Maybe do this through a command similar to:
`herms shopfor "Tacos" "Pad Thai" -s2`
Which would give a shopping list for feeding two people a meal of Tacos and a meal of Pad Thai. Leveraging existing framework, one could also easily support selection through the recipe's index

[2017-07-09 00:04] JackKiefer opened #10 ""One step at a time" mode for recipe viewing"
My coworker Dave told me the other day about how he really just needs to focus on the current step of a recipe since he's not the greatest cook and quite liable to screw things a bit and end up with a baguette in the saucepan.

Let's help out Dave.

Add a flag for the `herms view` command to specify that you _only_ want to have one direction at a time displayed. Have the user press enter to contin

[2017-07-09 00:33] JackKiefer opened #11 "Separate strings out to a different file"
When we're starting to have folks translate herms, it will be easiest to have a separate file where all of the strings that are shown to the user are stored. That way, different files can be loaded for different languages.

Tips:
- Put the file into the `data/` directory.
- Go ahead and just set the filename as a global constant similar to `recipes.herms`. We'll deal with loading other files later

[2017-07-09 00:46] JackKiefer opened #12 "Spruce up how recipes are listed"
At the moment, the output for `herms list` is rather boring. Spice it up a bit (spice.. heheh) by showing some of the other things about the recipe. Show its index, name, first few words of the description, and the associated tags. Format it nicely. Maybe give it a cute ASCII frame.

Include a flag that one can set to list the recipes how they are now. This would be useful for someone, say, writin

[2017-07-09 02:00] JackKiefer opened #13 "Add the option to specify serving size in the "add" menu"
Herm's by default assumes that each recipe is for one serving, but sometimes you might be trying to copy over a recipe thats written by default for multiple servings. Add a box to specify the recipe's serving size in the "add" menu so that Herm's will do the math for you! Still, however, store the recipe as a single serving. So, you'll need to make sure that each quantity gets divided by the user-

[2017-08-01 16:07] JackKiefer commented on #12
Mostly addressed by #15 :)

[2017-08-01 16:07] #12 closed

[2017-08-01 16:15] JackKiefer opened #16 "Add these features to recipe listing"
Things look great with recipe listing! Let's see if we can take it even further.

Add terminal colors and bolded output to make listed recipes easier to read. While you're at it, maybe throw some colors in recipe display too...

Add a flag to generate just a simple list of recipe names without numbers, descriptions, or tags. This would be useful if there is, say, a bash script that interacts with

[2017-08-02 16:05] JackKiefer opened #17 "Switch command-line argument handling over to use optparse-applicative"
We've got kind of a terrible system at the moment for argument handling. Let's use a nice library!

- https://hackage.haskell.org/package/optparse-applicative

[2017-10-01 14:34] vrom911 commented on #17
Can I get this one started within the Hacktoberfest?
I'm currently writing a project where I use `optparse-applicative` and would like to apply it here as well.

[2017-10-01 18:54] JackKiefer commented on #17
Absolutely! Especially if you're already familiarizing yourself with the library. I'll throw the Hacktoberfest label in, too.

Let me know if you have any questions! :)

[2017-10-02 09:21] Jorissss commented on #11
I'd like to take this!

[2017-10-02 10:22] JackKiefer commented on #11
Nope! Just get something working, really. :)

[2017-10-02 15:22] vrom911 commented on #9
How does this suppose to behave if ingredients are equal in different recipes (and what is equality of two ingredients? Should we care about equal attributes of ingredients to say they're equal?) ?

I can do this one, if it's okay.

[2017-10-02 15:44] JackKiefer commented on #9
That's actually a really good question! Other digital recipe managers I've seen typically keep a dictionary of equivalent ingredient names for things like this. We can definitely work up to that point, but for now I think it would be fine to just list each ingredient and its quantity in alphabetical order (even if two recipes might call for the same ingredient). If they're alphabetized then the us

[2017-10-02 15:57] vrom911 commented on #9
Great!
I would rather to compare both `ingredientName` and `unit`  to say that it's the same ingredient. As I see it, it could be 1 x bottle of milk and 500 ml of milk, so if just ignore units during comparing we can have 501 bottle or 501 ml of milk , which is not great, I guess..

Thanks! Almost done (I continue implementing this one with `optparse-applicative`)

[2017-10-03 01:24] JackKiefer commented on #17
Merged #19

[2017-10-03 01:24] #17 closed

[2017-10-03 02:03] JackKiefer commented on #9
Merged #20

[2017-10-03 02:03] #9 closed

[2017-10-03 03:10] JackMiranda opened #21 "Miscellaneous Tasks"
No issues catch your eye? Check out https://github.com/JackKiefer/herms/blob/master/Contributing.md for other feature ideas

[2017-10-04 05:31] Jorissss commented on #5
Hi, the cabal installation described in the guide doesn't seem to work for me (ghc 8.2.1).
I get the follow output:

Resolving dependencies...
Notice: installing into a sandbox located at
/home/joris/forks/herms/.cabal-sandbox
Configuring StateVar-1.1.0.4...
Configuring dlist-0.8.0.3...
Configuring microlens-0.4.8.1...
Configuring blaze-builder-0.4.0.2...
Configuring parallel-3.2.1.1...
Configurin

[2017-10-04 06:42] gallais commented on #5
The travis build runs the build for 8.2.1 so it ought to work out of the box. In your log, this is concerning:

[code]

What is the output of `ghc-pkg check`?

[2017-10-04 07:15] Jorissss commented on #5
@gallais
`ghc-pkg check`

Warning: haddock-interfaces: /usr/share/doc/haskell-hashtables/html/hashtables.haddock doesn't exist or isn't a file
Warning: haddock-html: /usr/share/doc/haskell-hashtables/html doesn't exist or isn't a directory
Warning: haddock-interfaces: /usr/share/doc/haskell-gtk2hs-buildtools/html/gtk2hs-buildtools.haddock doesn't exist or isn't a file
Warning: haddock-html: /usr/s

[2017-10-04 14:05] hschallh commented on #21
@JackKiefer I'd like to take a crack at nutritional info if that's alright with you.

[2017-10-04 14:17] JackKiefer commented on #21
@hschallh Go for it! If you find yourself with any questions, feel free to create a new GitHub Issue about what you're working on. :)

[2017-10-04 14:18] hschallh commented on #21
Roger that!

[2017-10-05 13:48] hschallh opened #22 "Nutritional Information"
Add optional caloric / nutritional information.  Thoughts:

- Include ability to log calories, fat, carbs, and protein (any others?)
- Where should nutritional information be displayed? (`list`/`view`)
- Should calculate correctly with servings on `view -s` and when serving size is stipulated in `add`

[2017-10-06 10:28] pdfrod commented on #8
Hi! I'd like to take a stab at this one, if it's OK.

[2017-10-06 15:05] JackKiefer commented on #8
Go for it! :)

[2017-10-06 15:20] JackKiefer commented on #22
You actually bring up a good point here. We don't yet have serving information as info in each recipe... Before you'd be able to properly calculate nutritional information for so many servings, that would be pretty necessary. That would be implemented by #13 . You could still start working on it though while we take care of that. I might end up doing that this weekend.

As far as the information g

[2017-10-06 15:32] JackKiefer opened #23 "Allow Vim directional keys (h, j, k, l) in the "Add a Recipe" menu"
Currently, you can use Ctrl + the standard directional keys to move around the "Add a Recipe" menu. In the spirit of a true Vim disciple, I tried also allowing the option of Ctrl + (h, j, k, l), but Brick was being weird about it and wouldn't allow you to use some of the directions for some reason.

Your quest is to implement this capability!

- All of the code for the "Add a Recipe" menu is in ``

[2017-10-06 17:29] pdfrod commented on #13
So, this feature implies adding more information to the Recipes file, which would break compatibility with existing Recipes file. Should we worry about it?

[2017-10-06 17:44] JackKiefer commented on #13
We're still small enough a project that backwards compatibility isn't a real concern yet. I feel that this is an important enough feature to justify breaking the recipes file.

[2017-10-06 19:51] rstefanic commented on #23
I'll take a shot at this, but I'm wondering why it wouldn't allow you to add these event listeners when you tried it.

Did you get some specific error?

[2017-10-06 21:48] JackKiefer commented on #23
@rstefanic I don't think there was a specific error or anything. I think it was compiling just fine, but for some reason ``Ctrl + k`` and ``Ctrl + l`` were working but not ``Ctrl + j`` or ``Ctrl + h`` (or something to that effect). There might be some sort of hotkey conflict, but I'm not sure.

[2017-10-07 04:56] JackKiefer commented on #8
Implemented by #24!

[2017-10-07 04:56] #8 closed

[2017-10-07 22:57] vrom911 commented on #13
@pdfrod this feature won't affect Recipes file, as I understand it. All recipes now are assumed to be for single serving, so will new recipes. The thing that should be done is some calculation before adding the recipe.
Am I getting it right, @JackKiefer ?

[2017-10-08 01:22] JackKiefer commented on #13
@vrom911 I'm a bit torn on this one... It would be a bit of a pain to refactor everything, but I think we should ultimately include serving size in the recipe data type. Some recipes are just meant for certain serving sizes (I'm thinking big things like cooking a whole turkey).

What do you guys think?

[2017-10-08 11:23] vrom911 commented on #13
@JackKiefer  after thinking a bit, I also end up with the fact that it will be more useful to keep it. Also it's better for editing purposes, if user who just input some recipe for `n` servings and in a minute understood that made some mistake, he would expect to see exactly the data he inputted when running `edit` option.. That is another reason to include it in data type.

Btw, @JackKiefer , @pd

[2017-10-08 12:23] pdfrod commented on #13
@vrom911 I agree that in terms of user experience, it's better to save the serving size.

I've already started work on this.

[2017-10-08 16:17] JackKiefer commented on #13
Awesome! I'm glad we agree on this. Thank you for your heroic refactoring @pdfrod

[2017-10-09 06:04] JackKiefer commented on #13
Implemented by #27!

[2017-10-09 06:04] #13 closed

[2017-10-09 06:05] JackKiefer commented on #22
@hschallh #27 has implemented recipes containing serving information. Go crazy! :)

[2017-10-09 06:05] JackKiefer commented on #10
Implemented by #10! Thanks @jvalleroy :)

[2017-10-09 06:05] #10 closed

[2017-10-09 07:03] JackMiranda opened #28 "View a recipe in another unit system"
Howdy folks! Yeah, I actually say "howdy folks" in real life because I'm from the western United States. Other silly things we say out here include "add 3/4 cup of water" and "mix in 1/8 teaspoons cinnamon." This is no good if your measuring cups are in milliliters!

Add a flag to specify viewing a recipe in a different unit system. Make a new file in `src` called `UnitConversions.hs` or something

[2017-10-09 07:07] JackKiefer opened #29 "List recipes only with certain tag(s)"
Specify an option with `herms list` to _only_ list recipes that have the tags passed in as arguments. For example, typing `herms list --tags frugal pasta` would only list your inexpensive pasta recipes.

Tips:
- Study how flags are handled
- Study the `list` function

Let me know if you have questions! :)

[2017-10-09 16:19] vrom911 opened #31 "Make `SORT_ORDER` to be a switcher"
For the moment if you want to get the recipes grouped by tag you need to input
[code]
The problem is that by default the ordering is `default`, so I don't see any sense in having option with `-s default`. Also writing `tags` or `default` by hands not really user-friendly (I couldn't manage to find out this magic words without going deeper into the code sources).

What I suggest is to have a switch

[2017-10-09 17:52] JackKiefer commented on #31
I think these are some solid ideas! I'd definitely welcome a pull request that would implement this. Perhaps something like `-r` would be a good option for a short flag.

I'll throw on some labels!

[2017-10-09 19:54] vrom911 commented on #31
Excellent! Then I'm taking this one. Thank you very much for your comments on this :blush:

[2017-10-09 21:48] JackKiefer commented on #31
Implemented by #32

[2017-10-09 21:48] #31 closed

[2017-10-09 21:49] JackKiefer commented on #29
Implemented by #30

[2017-10-09 21:49] #29 closed

[2017-10-09 22:12] pdfrod commented on #23
It seems that input handling on terminals is much messier than one would expect. For example `Ctrl + j` is interpreted as `Return`, and it's very hard or downright impossible to overcome that. [Graphics.Vty.Input](https://hackage.haskell.org/package/vty-5.18.1/docs/Graphics-Vty-Input.html) has a note mentioning __Terminal Input is Broken__.

[2017-10-09 22:15] JackKiefer commented on #23
Aha, that's the kicker. Alrighty, then. Are there any other modifier keys that could potentially allow one to use hjkl? Perhaps `alt`?

[2017-10-11 00:41] nasanos commented on #28
I'll get started on this, if no one else has taken it, starting with the functions involved.

After looking over `Types.hs`, my impression is that `UnitConversions.hs` could maybe consist of two functions:
* A function converting metric units to imperial,
* A function converting imperial units to metric.

This would also result in all units, after the conversation, being of the same system.

Alter

[2017-10-11 19:16] JackKiefer commented on #23
Implemented by #33!

[2017-10-11 19:16] #23 closed

[2017-10-11 20:46] pdfrod commented on #16
I'd like to take a shot at this one, if no one's working on it yet.

[2017-10-11 22:58] JackKiefer commented on #16
Don't believe anyone is. Go for it!

[2017-10-12 01:47] nasanos commented on #28
My current pull request (34) doesn't solve all of the issues proposed here, but I think it gets a start in place, which I plan to continue on as time allows.

I was wondering if you could give me a rundown of how Herms uses flags. Hopping through the files still left me unsure of best-practices for implementing flags for the unit conversions.

[2017-10-12 04:16] JackKiefer commented on #28
Great work! Herm's uses a library called optparse-applicative to handle all of the flags. I'm not actually super familiar with it; @vrom911 is our resident expert there :)

[2017-10-12 10:03] vrom911 commented on #28
@nasanos nice work so far! :1st_place_medal:
Flags handling is actually very easy now with usage of [`optparse-applicative`](https://hackage.haskell.org/package/optparse-applicative) :relaxed:
All code related to it is in `Main` module [here](https://github.com/JackKiefer/herms/blob/75e533ffa180f8295ad13f1d7590f6fee9f8b909/app/herms.hs#L274).
But first of all I suggest you to replace check of `1`

[2017-10-13 14:24] JackKiefer commented on #16
Implemented by #35!

[2017-10-13 14:24] #16 closed

[2017-10-13 14:41] JackKiefer commented on #28
Thanks @vrom911 !

Some good ideas, but I think that perhaps a wiser option would to have something like this:

[code]

By default recipes could simply be labeled `None` and not attempt to convert themselves. Only when passed a flag like `-i|--imperial` or `-m|--metric` would the recipe be converted and shown. That way, users with nothing but metric recipes don't have to type `--metric` every time

[2017-10-13 15:03] JackKiefer opened #36 "Search through recipes given a keyword"
I'm thinking of something similar to `grep` but that searches instead through recipes. For now, just search through what `showRecipe` would typically display, we can get fancier later!

The interaction might look something like this:

[code]

You can see here that the recipe index and recipe name are given followed by the relevant line of text that has been found. Sometimes it finds the word in th

[2017-10-13 15:13] JackKiefer opened #37 "More improvement ideas"
Wow! We've been getting so many new contributions thanks to Hacktoberfest. That's awesome!

When I first started Herm's there was a huge list of features that I thought would be cool to have. Now, we've nearly implemented _all of them!_ :clap:

Once we finish up this unit conversion business, I really feel comfortable making the first real "release" of Herm's to distribute throughout repositories

[2017-10-13 16:47] nasanos commented on #28
So, it looks like this would take two flags, one for metric and one for imperial. I didn't see a way in the `optparse-applicative` docs to handle this otherwise, but correct me if I'm missing something there.

[2017-10-13 20:59] vrom911 commented on #28
@JackKiefer @nasanos  if we have now more than two cases it is not going to be switch anymore. I guess in this case in will be more comfortable for usage purposes to have something like `[--system SYSTEM_TYPE]`. And when you need to turn on any just type `herms view --system metric` for example.
Also the good point of this choice is that in the future you would be able to add more metric systems w

[2017-10-18 13:49] hschallh commented on #22
I think having it in "Add" is a good idea. I'll pull the changes and get started!

[2017-10-18 16:24] JackKiefer commented on #22
Yay! Good luck :)

[2017-10-18 16:51] JackMiranda opened #39 "Convert oven temperatures in recipe directions between Fahrenheit and Celsius"
This should be an interesting one!
We now have the ability to convert ingredient measurements between imperial and metric. Now, let's take this a step further and add the ability to convert between Fahrenheit and Celsius for oven temperatures inside of recipes' directions!

This might be a little more involved as it will require parsing through the directions for a phrase like `400°F` or `400 degr

[2017-10-18 17:00] JackKiefer opened #40 "When converting a recipe to a different unit system, add an option to save the recipe to file in that unit system"
Currently, we can only _view_ recipes in another unit system (e.g., `herms view 2 --convert metric` shows a recipe in metric units). Take this a step further and add an option to actually modify and save the recipe to be in that unit system.

It might look something like this:

[code]
Or some other clever name for the flag.

Tips:
- Herm's handles flags using a library called **optparse-applicativ

[2017-10-30 19:59] CTxD commented on #39
`celsius x = (x - 32) * 1.8`

[2017-12-10 13:57] DancingQuanta opened #44 "herms: Prelude.read: no parse on WSL"
I tried `herms` out on [Windows subsystem for Linux (WSL)](https://docs.microsoft.com/en-gb/windows/wsl/about).

I tried adding a recipe by `herms add`. At the end I received this message
[code]
I checked that my new recipe is not saved because `herms view` does not show this recipe.

Could this be due to WSL or bad input (PEBCAK)?

[2017-12-10 14:24] DancingQuanta commented on #44
I think it is a human error that causes the error.
I need to investigate which field do not like my input.

[2017-12-10 14:26] DancingQuanta commented on #44
In what format do the tags needs to be inputted?

[2017-12-10 15:09] JackKiefer commented on #44
Hmm. Tags ought to be space separated; maybe we should mention that somewhere... If you could post a screenshot of your input that is causing the error, that might help us diagnose the problem.

[2017-12-10 15:31] DancingQuanta commented on #44
I actually wanted to ask for multi word tags if possible. Tags could be
separated by ,

On 10 Dec 2017 3:09 p.m., "Jack Conrad Kiefer II" <notifications@github.com>
wrote:

[2017-12-11 01:09] JackKiefer commented on #44
Certainly. That wouldn't be too difficult a feature to implement.

[2018-01-01 11:32] Qwertie- opened #45 "Import/export recipes as JSON"
Every language has a library to handle JSON so storing the recipes in the JSON format would make moving recipes to and from other programs much simpler.

[2018-03-09 20:51] JackKiefer commented on #45
Hmm, I'm not sure about storing all of the recipes in JSON... That would break backwards compatibility and give a slight overhead increase to reading/writing recipes if it has to convert to JSON every time. I think it would be super cool to export and import recipes as JSON, though!

[2018-03-09 20:52] Csear007 commented on #45
Yeah I think importing and exporting json would be much more practical

On Mar 9, 2018 2:51 PM, "Jack Conrad Kiefer II" <notifications@github.com>
wrote:

[2018-03-09 20:57] JackKiefer commented on #45
Awesome! I was playing around with [aeson](https://hackage.haskell.org/package/aeson) the other day, and it doesn't seem too difficult. I'll add some tags for whoever wants to take a stab at it!

[2018-03-09 23:43] Qwertie- commented on #45
@JackKiefer I don't think converting to json will have any noticeable overhead unless you are saving a recipe 60 times a second.

[2018-03-10 23:46] Qwertie- opened #46 "Installing from cabal fails "vty-5.15.1 failed during the building phase.""
After cloning the repo and running cabal install -j. I'm installing on fedora 27.

[code]

[2018-03-11 05:42] JackKiefer commented on #46
Ah! This is a problem that we've encountered before... vty-5.15.1 is one of Herm's dependencies, I see you've found [its repository](https://github.com/jtdaugherty/vty/issues/148). @PhilipNelson5 was able to solve this problem, I believe.

[2018-03-11 20:37] JackKiefer commented on #46
This seems like a tough one to hash out, and something that will be affected by local installation differences... I recommend installation through stack, instead:
[code]

[2018-03-11 21:52] JackKiefer commented on #44
Hey @DancingQuanta!

I know it's been a few months, but as of 1d35af094ac2e8455024eb03fb18e76269ddeea0 this feature is now supported! It will now check if your tags input contains commas and, if it does, will assign the tags appropriately. :)

Thanks for the feature suggestion!

[2018-03-11 21:52] #44 closed

[2018-03-12 00:33] Qwertie- commented on #46
Ah I didn't realize I could use stack as well. Might be good to point it out in the readme because cabal has failed on almost everything I have tried it on and stack always works.

[2018-03-12 01:49] JackKiefer commented on #46
Yeah, I realized that too and have now updated the readme! [Contributing.md](https://github.com/JackKiefer/herms/blob/master/Contributing.md) has some other good stuff for you too since you'll be hacking away.

Good luck! Thanks for your interest :D Let me know if you have questions!

[2018-03-12 01:49] #46 closed

[2018-03-12 15:19] glguy commented on #46
@Qwertie- Your local environment is probably corrupted, cabal-install normally has no problem building vty.

[2018-03-14 09:49] Qwertie- commented on #45
@JackKiefer If there was some way to detect the current format and automatically change it to a new JSON format what would you think about using that by default? I think storing the data as JSON even for use within herms would be quite handy, there could be extra info in the file such as a version number for the file, software and version used to create the file and maybe some other stuff, that wa

[2018-03-14 13:36] JackKiefer commented on #45
@Qwertie- Ooh, I suppose I hadn't considered that. Yeah! That actually sounds like a really cool way to go about it. You know what, go for it!

[2018-03-18 11:50] DancingQuanta commented on #45
As anyone seen this [Open recipe format](http://open-recipe-format.readthedocs.io/en/latest/)?

[2018-03-30 14:24] srid commented on #45
@JackKiefer Have you considered using [Dhall](http://dhall-lang.org/) for the cookbook format? You get Haskell's type safety (and other nice features like multiline string) while also supporting JSON export.

[2018-05-01 13:49] nekoswag opened #52 "Add vertical space between ingredient fields"
Currently there is no space at all vertically between ingredient fields, so if you e.g. wrote out "tablespoon", it could end up like
`1     tablespoosoy sacue`

Inserting a space between fields would make it like this
`1     tablespoo soy sauce`

So you'd know that the word was cut off, and you don't read "tablespoosoy".

[2018-05-28 04:16] pvsr opened #55 "Crash on empty serving size"
When serving size is empty and you exit the interface, the application crashes while parsing the recipe. Better to just default to 1 than to lose any changes to the recipe imo.

[2018-05-28 14:46] #55 closed

[2018-07-08 18:56] siddharthist opened #59 "Export recipes"
Herms has an `import` command, but no `export`! This should be relatively easy, it could be printed to `stdout`.

[2018-07-08 19:37] siddharthist opened #61 "Change datadir"
Is there a way to change the `datadir`? I'm building Herms with [Nix](https://nixos.org/nix/), and the `datadir` is a path in the Nix store:
[code]
which is read-only. Can I change this setting with a command line flag or environment variable?

If not, consider this a feature request, one that I'd be willing to implement (pointers appreciated!).

[2018-07-08 19:39] siddharthist opened #62 "Feature: Subtract already-owned ingredients from shopping list"
This would be a two-part enhancement. Please correct me if any of my observations are mistaken.

It seems to me that `shop` simply concatenates the list of ingredients of the desired recipes. In the case that I'm making two recipes, each of which calls for limes, it seems that I'll get two lines in the output, each with different quantities of limes. So enhancement (1) would be to smartly combine

[2018-07-10 06:08] siddharthist commented on #61
It seems like `getDataDir` is some `cabal` magic set at compile-time and that it is used before options are parsed, so it will take a bit of fiddling to be able to set it using a command-line option. An environment variable might be a good stopgap.

[2018-07-10 15:57] JackKiefer commented on #61
This is a great idea! I played around with this a bit when first implementing `datadir`, (I think it'd be great to just have a `~/.herms` directory), but I also realized that there's some shadowy arcane machinations behind the scenes that make it a little more difficult than anticipated. I'll add it to the requested feature list!

[2018-07-10 15:58] #59 closed

[2018-07-10 22:54] siddharthist commented on #61
@JackKiefer Thanks. I plan to implement an environment variable soon.

[2018-07-14 17:11] siddharthist commented on #61
Another way forward (with other benefits) would be XDG compliance. We already import `directory`, which provides `getXdgDirectory`. This would obviate ad-hoc environment variable parsing overriding defaults, etc. since the user can just change their `XDG_*` variables.

[2018-07-14 20:21] langston-barrett opened #63 "Linting and formatting"
The following tools, integrated into the Travis build, can lead to significant gains in code quality:
 - hindent
 - hlint
 - `GHC-Options: -Werror` with selective warnings turned on

What do you think about enabling a few of these? Stylistic checks [shouldn't be enabled in all builds](https://www.snoyman.com/blog/2017/11/future-proofing-test-suites), but having them on in CI can be pretty benefici

[2018-07-14 21:08] JackKiefer commented on #62
Seems like an awesome idea!

[2018-07-14 21:13] JackKiefer commented on #63
I really like the idea of it! It'd actually be pretty apt to do something like this right now since I somehow just mucked up the Travis build (Herm's still builds fine; it's just something with Travis).

I'm a bit too slammed over the next few days to work on Herm's, but I'll happily approve any pull requests. :)

Unrelated, but I'm excited to tell someone: I'm also working on a feature to parse a

[2018-07-14 22:53] siddharthist commented on #63
Nice! That sounds really useful. I would suggest using a standard file format like TOML or YAML for interoperability (and to eliminate custom parsing code).

I'm working on this issue now.

[2018-07-14 23:01] siddharthist commented on #63
Unfortunately, I can't use the same script that was used to originally generate the `.travis.yml`: https://github.com/haskell-CI/haskell-ci/issues/155

[2018-07-14 23:03] siddharthist commented on #63
Though my CI build is working: https://travis-ci.org/siddharthist/herms/jobs/404012180. Perhaps it was an intermittent issue?

[2018-07-15 00:09] siddharthist commented on #63
At some point, we may also want to consider Brittany instead of `hindent`. But it's pretty new, and has no package available via `apt-get`. https://www.reddit.com/r/haskell/comments/8x0x77/brittany_vs_hindent_vs_stylishhaskell/

[2018-07-15 04:56] langston-barrett opened #67 "Releases"
The CHANGELOG lists several versions, but there are no [releases on Github](https://help.github.com/articles/about-releases/) nor [tags in Git](https://help.github.com/articles/working-with-tags/). These are good ways to release binaries to users.

Ultimately, such binaries and source tarballs should be built in Travis. That might be a good feature request to haskell-ci.

[2018-07-15 05:10] siddharthist opened #68 "Investigate using the units library"
This library could eliminate much unit conversion machinery: https://github.com/goldfirere/units

[2018-07-15 22:39] siddharthist commented on #68
Actually, the above is for compile-time unit checking, which we can't use. The following implements parsers and converters for SI and US units: https://github.com/jdreaver/quantities

[2018-08-05 23:28] siddharthist opened #70 "Test with GHC 8.4.3"
Our tests are a few versions behind: https://www.haskell.org/ghc/

[2018-08-05 23:30] siddharthist commented on #61
Closed in #65

[2018-08-05 23:30] #61 closed

[2018-08-25 21:28] siddharthist commented on #67
On this subject, `herms` is currently only available via `stack` or `cabal`, but if it had releases it could be added to [nixpkgs](https://github.com/NixOS/nixpkgs) (I could do this).

[2018-08-25 21:57] siddharthist opened #73 "Feature: What can I make with what I already have?"
This is a follow-up to #62, which will implement tracking of a "pantry", a set of ingredients that the user already owns. After that is implemented, it should be easy to find out what recipes the user already has all the ingredients for.

[2018-08-26 02:06] siddharthist commented on #37
I have put in a few ideas in issues but I want to give a high-level outline and plan of how they relate to one another. I'll tag different PRs as they occur and edit this comment as my roadmap evolves (and is implemented!)

## Pantry management

 - The user can specify what ingredients they own
 - What they own is subtracted from shopping lists
 - They can (interactively, with confirmation) subtra

[2018-08-26 03:48] siddharthist commented on #5
@Jorissss Were you able to get it working? Please open another issue if not and I'll be happy to help troubleshoot.

We have much more documentation in the README now, describing several different methods for installing Herms, so I'm closing this for now. Please reopen if the documentation needs changes or improvements!

[2018-08-26 03:48] #5 closed

[2018-08-26 03:53] siddharthist commented on #11
This is done! If anyone has the commit in which it was done on hand, please comment with a link here (for archival/reference purposes)

[2018-08-26 03:53] #11 closed

[2018-09-03 21:57] siddharthist commented on #45
I am working on changing over all internal storage to a YAML format. This involves making `toJSON` and `fromJSON` instances for all our data structures, which should make finishing up this issue a lot easier.

My ideas on file formats:
 - I want something that is portable across programming languages (for now, this rules out Dhall).
 - JSON import/export is great, and we should definitely implemen

[2018-09-11 05:25] langston-barrett opened #77 "Feature: Track which recipes ingredients appeared in when creating shopping list"
This is a bit tricky now that we combine ingredients. But I occasionally find myself wondering (when generating shopping lists): "Which recipe needed this?" or "Did I get everything for X recipe? Or did I input it wrong, and I actually got Y ingredient for Z recipe instead?".

It would be great if shopping lists included provenance information for ingredients, combining provenances as quantities a

[2018-09-12 03:37] siddharthist opened #78 "Feature: Vulgar unicode fractions"
e.g. http://unicodefractions.com/

This would be a rewrite of `showFrac` (maybe `readFrac` too!)

[2018-10-03 23:39] renanpvaz commented on #36
Hey there, I think I could work on this. Any tips for a Haskell newbie?

[2018-10-03 23:51] renanpvaz commented on #21
Me again, I could translate the texts to portuguese. Should I open an issue for that?

[2018-10-04 00:17] siddharthist commented on #21
@renanpvaz No need, feel free just to open a pull request when your work is (partially) ready for review!

[2018-10-04 00:18] siddharthist commented on #36
@renanpvaz That sounds wonderful! Please comment here or email me if any questions come up. As you begin coding, you may want to take a look at #76, which makes some significant changes and should be merged soon(ish) (to be sure we don't end up with conflicting changes).

[2018-10-08 00:15] siddharthist opened #80 "Failing Travis builds"
It seems that a new version of the Brick library breaks our CI builds: https://travis-ci.org/JackKiefer/herms

[2018-10-09 22:06] PabloReszczynski commented on #70
Hi! Browsing around for Hacktoberfest issues I came up with this project, which seem awesome!
If I would like to tackle this issue, does I just need to install `ghc-8.4.3`, add it to `herms.cabal`, run `stack test` and see if the tests still pass?

[2018-10-09 22:37] siddharthist commented on #70
Hey there, @PabloReszczynski! This ticket is actually about using GHC in our Travis testing (which is also broken right now: #80). [As noted in the code](https://github.com/JackKiefer/herms/blob/master/.travis.yml#L1) the setup is actually generated, using this project: https://github.com/haskell-CI/haskell-ci.

To tackle this issue would involve
 1. installing [haskell-ci](https://github.com/hask

[2018-10-09 23:39] PabloReszczynski commented on #70
haskell-ci is giving me this error:
[code]

[2018-10-10 16:21] siddharthist commented on #70
Thanks for giving it a shot!

It does seem to import that package: https://github.com/haskell-CI/haskell-ci/blob/master/make_travis_yml_2.hs#L72, though the Cabal file doesn't list any external dependencies: https://github.com/haskell-CI/haskell-ci/blob/master/haskell-ci.cabal#L34

What versions of `cabal` and `ghc` do you have installed?

[2018-10-10 20:57] PabloReszczynski commented on #70
I'm using stack, so:
[code]

[2018-10-12 16:52] #80 closed

[2018-10-12 19:53] siddharthist opened #84 "Note Spanish translation in the README"
We now have a Spanish translation (#81). We should note this in the README!

[2018-10-13 16:28] siddharthist opened #87 "Allow failures on CI build with GHC 8.0.2"
Unfortunately, the recent Brick update makes our CI build a bit brittle. I think it'd be fine to allow failures on GHC 8.0

[2018-10-15 12:57] #45 closed

[2018-10-18 22:01] javbit commented on #78
Hey, I'm interested on working on this!

One question though, should this feature support arbitrary vulgar fractions via Unicode super/subscripts?

[2018-10-20 00:26] gahag opened #90 "Recipe saving is broken"
In the current master, saving a recipe results in writing a standard haskell show representation of the recipe to the yaml file.

[2018-10-21 03:39] javbit commented on #78
Could you clarify some things about the config settings?

Does the `ConfigInfo` record represent the raw file and `Config` represent values use in the application?

[2019-02-14 00:28] #90 closed

[2019-07-24 01:02] siddharthist commented on #84
Closed in #88

[2019-07-24 01:02] #84 closed

[2019-10-05 16:09] otaviopace commented on #40
Shouldn't this issue be closed since this https://github.com/JackMiranda/herms/pull/92 PR has been merged?

[2019-10-05 16:16] otaviopace commented on #39
Shouldn't this issue be closed since this #92 PR has been merged?

[2019-10-05 17:44] langston-barrett commented on #39
Yes, thanks @otaviopace!

[2019-10-05 17:44] #39 closed

[2019-10-09 21:28] ppartarr commented on #28
I believe this should be closed since the `-convert` flag was merged in #38

[2019-10-09 21:32] langston-barrett commented on #28
I agree. Let's follow up with other issues if there are still remaining tasks.

[2019-10-09 21:32] #28 closed

[2019-10-22 17:40] alter2000 opened #100 "Current NixOS build is broken (both nix build and nixified stack)"
Running NixOS 19.09 everything up to date since I started typing this, and the nix method outputs:

[code]

While stack cannot find `ghc843`.

I don't know if this is beginner friendly (seems like it: bump allowed versions, see if they work, get going), because I'd like to have a go at this, but I'm not sure if it will actually be the best possible outcome.

E: GFM not reddit markdown

[2019-10-22 17:50] langston-barrett commented on #100
@alter2000 Good catch! I'd definitely appreciate help on this, and it seems like a reasonably beginner-friendly issue. Feel free to post here if you need any pointers.

Can you post the full log? (The kind you get from `nix-build` (I'm a little old-fashioned)).

[2019-10-26 12:54] alter2000 commented on #100
Sure, [here's the log](https://github.com/JackMiranda/herms/files/3774835/nix-build.log.txt). It needs documentation for the `spanish` module (maybe more).

[2019-12-11 23:57] #100 closed

[2019-12-18 17:01] langston-barrett opened #107 "Build with GHC 8.8, 8.10"
We should make sure everything still works with GHC 8.8 and 8.10. This will probably require some updates to the version bounds in the Cabal file.

[2019-12-18 17:21] langston-barrett opened #108 "Don't require all fields in YAML recipes"
YAML is a nice, human-readable and writable format for storing recipes. However, our current implementation can be a bit verbose. Often, I'll specify a recipe and most `attributes` fields will just be set to the empty string `""`. I think we should make some of these fields optional if possible, and default to an empty string. In particular, I'm thinking of:

 - `Ingredient`
    * `unit`
    * `at

[2019-12-19 15:53] vmchale commented on #107
You can run

[code]

to get out-of-date dependency bounds :)

[2019-12-22 17:00] langston-barrett commented on #63
We use hlint now (#66), and haskell-ci doesn't yet support using formatters like brittany or hindent. I personally wouldn't want to go back to manually configuring Travis, so let's close this for now.

Of course, I would still welcome PRs/re-opening this if there is interest!

[2019-12-22 17:00] #63 closed

[2019-12-24 21:57] langston-barrett opened #110 "Allow integer quantities for ingredients"
We currently use `readFrac` to read quantities from recipes stored in JSON/YAML:
[code]
`readFrac` requires a string as input, so users must ensure that the quantity field parses as a string, either by unnecessarily adding a denominator, e.g.
[code]
or by quoting the value:
[code]
I think it would be nice to support JSON/YAML integers directly (in addition to fractions), so users could just write:

[2019-12-25 18:04] #108 closed

[2020-01-01 09:42] jayathungek opened #112 "Autocomplete for Herms"
Hello everyone,

I've written a bash script that autocompletes herms commands. It also autocompletes saved recipes if the previous command is one of - edit, remove or view. My problem is that this script needs to be sourced when herms is being installed. Is there a way to do this, for example in herms.cabal or travis.yml? I can submit a pull request once I figure out how to do this.

Thanks!

[2020-01-01 20:23] langston-barrett commented on #112
@jayathungek I'm not particularly knowledgeable on this subject, but if you link to your branch I'll take a look and see if I can figure something out!

[2020-01-02 05:19] jayathungek commented on #112
@langston-barrett Here's my fork of the repository:
https://github.com/jayathungek/herms

My code is in hermsComplete.bash. Please run ```$ source ./hermsComplete.bash``` and the autocomplete feature should work.

[2020-01-03 02:27] langston-barrett opened #113 "Feature: Express dependencies between steps of the recipe"
I often cook with others. It's hard to decide on the fly who should take on which steps of a recipe, especially since some steps have dependencies on others (e.g. you have to chop the garlic before you can put it in the pan). It would be nice to have a clear picture (maybe even a vizualization??) of what the dependencies are and how to minimize the cooking time.

[2020-01-03 02:48] langston-barrett opened #114 "Feature: Specify required equipment in recipes and config"
Some recipes require or are easier with a piece of specialized equipment, such as a food processor, blender, or hand mixer. We should allow recipes to say what they require, and allow users to specify in the configuration what equipment they have.

When `view`ing a recipe, we should leave out equipment by default, but warn if the recipe requires something the user doesn't have.

Like units, we sho

[2020-02-14 18:19] langston-barrett commented on #112
This is still on my radar, just haven't had a good moment to sit down and figure it out.

[2020-02-15 10:26] Jinbobo commented on #110
I'd like to claim this one if no one is working on it

[2020-02-15 18:34] langston-barrett commented on #110
@Jinbobo Go for it!

[2020-02-15 21:47] JavaZauber opened #116 "As a user I'd like to import and export to common recipe formats"
Managing recipes on your computer has [not been invented here](https://en.wikipedia.org/wiki/Not_invented_here).
As a user I'd like to import common recipe formats (maybe export as a separate ticket?).

The most common formats are

- CookMaster
- Rezkonv (RK Format)
- Mealmaster (MM Format)

For more technical information please refer to https://recipetools.sourceforge.net/joomla3/index.php/cb2cb

[2020-02-16 00:51] langston-barrett commented on #116
Absolutely! Thanks for doing some research and gathering some links. This isn't a big priority for me personally, but I'm happy to help out and provide advice if anyone else wants to tackle this.

[2020-02-16 00:55] langston-barrett commented on #21
Let's open more specific issues for any other feature ideas.

[2020-02-16 00:55] #21 closed

[2020-02-17 07:30] JavaZauber commented on #116
Up until then I'm probably going to store everything inside .txt files
I'm most likely going to switch to https://grocy.info/ anyway

[2020-05-16 17:27] mhuesch opened #120 "`nix build` fails"
Hi! Thanks for this awesome project.

When I try to follow the [Nix build instructions](https://github.com/LuxMiranda/herms/blob/master/nix/README.md#building) I see:

[code]

I'm on NixOS 20.03

[code]

I was able to work around this by loosening the version bounds on `vty`:

[code]

[2020-05-16 17:36] mhuesch commented on #120
I think this is related to the version of `vty` which is pinned in the pinned `nixpkgs`: https://github.com/NixOS/nixpkgs/blob/1c15955340811db41e8d37da18254c7510a07ea2/pkgs/development/haskell-modules/hackage-packages.nix

In that file, there are 2 `vty` packages: `5.25.1` and `5.26`
[code]

So perhaps there's some inconsistent behavior in selecting between the two on different systems?

`herms` s

[2020-05-17 16:23] langston-barrett commented on #120
@mhuesch Thanks for the report! if you make a pull request loosening the bounds I'll be happy to merge it.

[2020-05-17 20:34] mhuesch commented on #120
Cool, just opened a PR!

[2020-05-17 21:03] #120 closed

[2020-10-02 22:19] dreamsmasher commented on #36
Early implementation in #123. However, colorization and bolding still need to be added, as well as support for multiple regular expressions at once.

Should we bold the titles of the matching recipes? Or the string matches?

[2020-10-02 22:39] langston-barrett commented on #36
What would be the advantage of multiple regexes (`rx1` and `rx2`) vs. a regex union like `(rx1|rx2)`?

I'd say the string matches, but that's just personal preference. I'm not too picky as long as it looks good!

[2020-10-02 23:15] dreamsmasher commented on #36
I think it's more user friendly to be able to specify multiple regexes in sequence, but if a user actually uses regex features instead of just strings, I figure they would know how to use unions as well. Just a thought.

I'll take a look into colorizing the string match output when I get a chance, really busy week :(

[2020-10-02 23:29] langston-barrett commented on #36
Fair enough, that's basically what I expected but wanted to be sure I wasn't missing anything. I'm happy either way (if we have support for multiple regexes or not).

Sure thing, no need to hold up a nice new feature with window dressing.

[2020-10-06 16:17] langston-barrett opened #124 "Add Hacktoberfest to repo topics"
Apparently we need to do this to get Hacktoberfest contributors! Can you help out @LuxMiranda? I don't have admin rights to the repo.

[2020-10-16 16:52] xxxserxxx commented on #67
Binaries would be hugely appreciated. You mention Travis, but would you be willing to use github pipelines? Would it be the shortest path?

[2020-10-16 18:02] langston-barrett commented on #67
@xxxserxxx This issue was created before Github Actions existed :smile: I'd be happy to use any solution, and contributions are welcome!

[2020-10-16 18:49] xxxserxxx commented on #67
Great! I can submit a pull request that builds herms. It's been over a decade since I used GHC in any real capacity, so I may send it to you short of static compilation, and if you want to cross-compile to other platforms we may need to discuss that due to my limitations, but I can certainly get things rolling.

[2020-10-16 22:06] langston-barrett commented on #67
Okay, now that we have a Github Action to build release artifacts, I just need to make and push a tag (and update the changelog, a lot has happened...).

[2020-10-17 15:59] langston-barrett opened #126 "Source code formatting with Ormolu"
Source code formatting is a nice way to keep style consistent across many authors, especially when contributors might not be familiar with the predominant styles of formatting, line breaks, etc. in Haskell codebases. We should format our source code and enforce the formatting in CI!

[2020-10-17 17:47] langston-barrett commented on #67
Release v2.0(.1) is out! Thanks @xxxserxxx. A good follow-up would be to upload the new version to Hackage.

https://github.com/LuxMiranda/herms/releases/tag/v2.0.1

[2020-10-17 17:47] #67 closed

[2020-10-17 17:50] langston-barrett opened #127 "Document the release process"
Now that we have releases (#67), it would be great to document the process of cutting a new release so we never have malformed releases. At a minimum, this should include:

 1. Moving the "Unreleased" notes in the changelog to a section titled with the new version number
 2. Bumping the versions in the CLI and Cabal files
 3. Copy major changes to the "What's New" section of the README
 4. Create

[2020-10-17 17:53] langston-barrett opened #128 "Migrate from Travis CI to Github Actions, improve CI generally"
Having an auto-generated CI build (using haskell-ci) has served us well as a starting point, but issues #67 and #126 demonstrate that we need some customization that's not available in that tool. Specifically, the ideal CI workflow would:

 1. Test with all supported versions of GHC, with an optionally-passing build of GHC pre-releases
 2. Build and upload releases (tags) to Github
 3. Test the St

[2020-10-17 17:54] langston-barrett opened #129 "Upload v2.0 to Hackage"
The version of Herms on Hackage is a bit outdated, it would be great to upload our latest release!

@LuxMiranda can you take a look at this? If possible and desirable, I'm happy to take ownership of the Hackage repo.

[2020-10-17 17:57] langston-barrett opened #130 "Hosted documentation"
The documentation for Herms is spread across a few different Markdown files in a few places in the repo. It would be great to consolidate these files into a `doc/` directory and build them with a hosted service like readthedocs.io.

[2021-01-04 01:38] langston-barrett opened #131 "Feature: Render recipes to HTML"
It would be great to be able to view Herms-managed recipes on a mobile device. One way to do this would be to export recipes to HTML, then to serve them using an off-the-shelf HTTP server, like Python's `http.server`. This could be added as another export format.

[2021-01-24 03:03] langston-barrett commented on #128
See #133

[2021-01-24 04:04] langston-barrett commented on #131
Done in #132

[2021-01-24 04:04] #131 closed

[2021-01-24 04:05] langston-barrett opened #134 "HTML export: Specify UTF-8 encoding"
Herms should put this in the `head` of the HTML documents produced by `herms export --format html`:
[code]
The appropriate place to do so is in `Html.htmlDoc`.

[2021-01-24 20:05] langston-barrett commented on #128
#133 tests with all supported versions of GHC, and runs `hlint`

#136 runs `ormolu`, see also #126

[2021-04-12 03:30] langston-barrett opened #139 "Export to Org-mode"
As an Emacs user, it'd be nice to get my recipes in Org mode for interoperability with other workflows!

[2021-04-12 03:32] langston-barrett opened #140 "Run GHC 9 in CI, drop GHC 8.4"
There's a fresh new version of GHC to test with!

[2021-04-12 20:07] #134 closed

[2021-04-12 22:25] #126 closed